/* line 5, ../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 36, ../sass/screen.scss */
#container {
  width: 100%;
  margin: 0 auto;
}

/* line 42, ../sass/screen.scss */
h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.5em;
  color: #666666;
  text-transform: uppercase;
}

/* line 50, ../sass/screen.scss */
h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1em;
  color: #666666;
  text-transform: uppercase;
  margin-bottom: 1em;
}

/* line 59, ../sass/screen.scss */
p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 0.7em;
  color: #666666;
  text-transform: uppercase;
  margin-bottom: 0.3em;
}

/* line 73, ../sass/screen.scss */
.download-btn {
  cursor: pointer;
}

/* line 80, ../sass/screen.scss */
#lightbox {
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100%;
  padding-top: 2em;
  padding-bottom: 2em;
}
/* line 90, ../sass/screen.scss */
#lightbox.hidden {
  display: none;
}

/* line 96, ../sass/screen.scss */
.thumbnail {
  cursor: pointer;
}

/* line 101, ../sass/screen.scss */
#project-item {
  background-color: #e6e6e6;
  width: 80%;
  margin: 0 auto;
  padding: 1em;
}

/* line 108, ../sass/screen.scss */
#project-content {
  width: 100%;
  margin: 0 auto;
}
